.journal[data-v-a32d3835]{margin:0 0 auto}.journal__tables[data-v-a32d3835]{display:flex;flex-direction:column;gap:24px;position:relative;z-index:2}.journal__left_table[data-v-a32d3835]{border-radius:6px;box-shadow:var(--shadow)}
