.journal[data-v-25b4306a]{margin:0 0 auto}.journal__tables[data-v-25b4306a]{display:flex;flex-direction:column;gap:24px;position:relative;z-index:2}.journal__left_table[data-v-25b4306a]{border-radius:6px;box-shadow:var(--shadow)}
