.journal[data-v-afe3ebdc]{margin:0 0 auto}.journal__tables[data-v-afe3ebdc]{display:flex;flex-direction:column;gap:24px}.journal__left_table[data-v-afe3ebdc]{border-radius:6px;box-shadow:var(--shadow)}
