.journal[data-v-6f78a033]{margin:0 0 auto}.journal__tables[data-v-6f78a033]{display:flex;flex-direction:column;gap:24px}.journal__left_table[data-v-6f78a033]{border-radius:6px;box-shadow:var(--shadow)}
