.repair[data-v-ebb38955]{margin:0 0 auto}.repair__tables[data-v-ebb38955]{display:flex;flex-direction:column;gap:24px}.repair__table[data-v-ebb38955],.repair__left_table[data-v-ebb38955]{border-radius:6px;box-shadow:var(--shadow)}
