.repair[data-v-a1b9f6bd]{margin:0 0 auto}.repair__tables[data-v-a1b9f6bd]{display:flex;flex-direction:column;gap:24px}.repair__table[data-v-a1b9f6bd],.repair__left_table[data-v-a1b9f6bd]{border-radius:6px;box-shadow:var(--shadow)}
